html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #e0e0e0;
  }
  #logo{
    height: 60px;
    width: 60px;
    vertical-align: middle;

}
#login1{
    text-decoration: none;
    float: right;
    color: black;
    margin: 2%;
    margin-top: 1.5%;

}
header{
    background-color: rosybrown;
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0%;
    width: 100%;

}
footer{
    background-color: rosybrown;
    margin: 0;
    padding: 0;
    position: sticky;
    bottom: 0%;
    width: 100%;
}
  #blu_hotel{
    height: 500px;
    width: 500px;
  }
  .social_img{
        height: 20px;
        width: 22px;
    }
    header, footer{
      background-color: rosybrown;
    }
    .rad_img{
      margin:2% 4% 0% 4%;
    }
    form{
      margin: 0% 4% 1% 4%;
    }
    #hotel_dsc{
      margin: 1% 4% 2% 4%;
    }
    #contact{
      text-decoration: none;
      color: black;
      float: left;
      margin: 1%;
  }
  
  #copy_right{
      font-size: 10px;
      bottom: 0px;
      text-align: center;
      margin: 1%;
  }
  #fit_img{
      float: right;
     margin-right: 1.5%;
  }
  