html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #e0e0e0 !important;
    overflow-x: hidden;
}
#logo{
    height: 60px;
    width: 60px;
    vertical-align: middle;

}
.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}
#login{
    text-decoration: none;
    float: right;
    color: black;
    margin: 2%;
    margin-top: 1.5%;

}
header{
    background-color: rosybrown;
    position: sticky;
    top: 0;
    width: 100%;
    display: flexbox;
    justify-content: space-between;
    align-items: center;


}
footer{
    background-color: rosybrown;
    position: sticky;
    bottom: 0%;
    width: 100%;
    height: 50px;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
}
.hotels_img{
    height: 200px;
    width: 250px;
}
.social_img{
    height: 20px;
    width: 22px;
}

.rad_bg{
    margin: 3%;
    background-color: lightgray;
    width: 40%;
    display: flex;
    flex-wrap: wrap;
 
}
.rad_bg:hover{
    background-color: rosybrown;
}
    
.side_img{
    display: flex;
   }
#text_des a{
    text-decoration: none;
    color: black;
}
#list_view{
margin-bottom: 2%;
}
.lal_hotel{
    float: right;
}

#contact{
    text-decoration: none;
    color: black;
    float: left;
    margin: 1%;
}

#cop_r{
    font-size: 10px;
    text-align: center;
    margin-bottom: 3%;
}
#fit_img{
    float: right;
    
   margin-right: 1.5%;
}

#view_more{
    text-align: center;
}
#view_more a {
    text-decoration: none;
    color: black;
}
.list_map{
    text-align: center;
    position: fixed;
    justify-content: center;
    margin-left: 550px;
    border: none;
}
.list_map a {
    text-decoration: none;
    color: black;
    
}

