html, body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    background-color: #e0e0e0;
    overflow-x: hidden;
}

#logo{
    height: 60px;
    width: 60px;
    vertical-align: middle;

}
#login{
    text-decoration: none;
    float: right;
    color: black;
    margin: 2%;
    margin-top: 1.5%;

}
.modal-backdrop:{
    display: none;
}
header{
    background-color: rosybrown;
    position: sticky;
    top: 0;
    width: 100%;
    display: flexbox;
    justify-content: space-between;
    align-items: center;


}
footer{
    background-color: rosybrown;
    position: sticky;
    bottom: 0%;
    width: 100%;
    height: 50px;
    display: flexbox;
    justify-content: space-between;
    align-items: center;
}
#blu_hotel{
    height: 200px;
    width: 270px;
}
.social_img{
    height: 20px;
    width: 22px;
}

#blu_imgp{
    background-color: rgb(132,136,139);
    height: 20%;
    width: 50%;
    margin: 2% auto 2% auto;
    display: flex;
    flex-wrap: wrap;
   
}
#book_form{
    /* margin: 2%; */
    margin-bottom: 2%;
}
#tariff{
    margin: 2%;
   
    border-radius: 5px;
    padding: 1% 2%;
}
#contact{
    text-decoration: none;
    color: black;
    float: left;
    margin: 1%;
}

#copy_right{
    font-size: 10px;
    text-align: center;
    margin-bottom: 3%;
}
#fit_img{
    float: right;
   margin-right: 1.5%;

}
#pay{
    text-decoration: none;
    color: black;
    margin-left: 70px;

    }
#space{
    margin: 2% 0% 2% 0%;
    display: flexbox;
}
.group1{
    display: flex;
    flex-wrap: wrap;
}

full{
    float: right;
   text-align: justify;
   
}
.combine{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    border-radius: 5px;
    height:200px;
   margin: 2%;
    text-align: justify;
    align-items: center;
    background-color: rosybrown;

}